.home{
	padding: 10px;
	letter-spacing: 2px;
	font-family: tahoma;
}
.file{
	padding: 10px;
	letter-spacing: 2px;
	font-family: tahoma;
}
.edit{
	padding: 10px;
	letter-spacing: 2px;
	font-family: tahoma;
}
.search{
	padding: 10px;
	letter-spacing: 2px;
	font-family: tahoma;
}
.gears{
	padding: 10px;
	letter-spacing: 2px;
	font-family: tahoma;
}
.comments{
	padding: 10px;
	letter-spacing: 2px;
	font-family: tahoma;
}
.avisos{
	background-color: #A3D5D1;
	text-align: center;
}
.estadisticas{
	background-color: #80C9C7;
}
.aviPubAct{
	color: #777;
	font-size: 20px;
	font-family: Arial;
}